<div class="holder">
    <div class="top-panel">
        <div class="title">Shop Kart</div>
        <div class="kart">
            <div class="cart-heading">Cart</div>
        </div>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="name">Name</div>
        <div class="item">Item</div>
        <div class="unit">Unit</div>
        <div class="quantity">Quantity</div>
        <div class="price">Price</div>
    </div> -->
    <table>
        <tr>
            <th>Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        <tr *ngFor="let item of data" [hidden]="item.count===0">
            <td>{{item.name}}</td>
            <td>{{item.item}}</td>
            <td>{{item.count}}</td>
            <td>{{(item.price) * (item.count)}}</td>
        </tr>

    </table>

    <div class="total">Total: {{totalAmountToPay}}</div>

    <div class="pay-box">
        <div class="pay"></div>
        <button class="pay-button" (click)="navigateTo('paymentMethod')">Pay {{totalAmountToPay}}</button>
        <button class="add-button" (click)="navigateTo('item')">Add more items</button>
    </div>



</div>