.holder {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.top-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(110, 196, 236);
    /* border: 1px solid black; */
}

.title {
    position: relative;
    height: 80px;
    width: 290px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.kart {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/kart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-heading {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 25px;
    font-size: 30px;
    color: white;
}

.row {
    position: relative;
    height: 30px;
    width: 100%;
}

.name {
    position: relative;
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 90px;
    font-size: 40px;
}

.item {
    position: relative;
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 90px;
    font-size: 40px;
}

.unit {
    position: relative;
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 90px;
    font-size: 40px;
}

.quantity {
    position: relative;
    height: 50px;
    width: 150px;
    float: left;
    margin-left: 90px;
    font-size: 40px;
}

.price {
    position: relative;
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 90px;
    font-size: 40px;
}

.pay-box {
    position: relative;
    height: 80px;
    width: 100%;
    top: 125px;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 25px;
}

.pay {
    position: absolute;
    height: 40px;
    width: 60px;
    top: 15px;
    left: 30px;
    background-image: url(/assets/images/pay.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.pay-button {
    position: absolute;
    height: 35px;
    width: 120px;
    top: 15px;
    left: 100px;
    background-color: aquamarine;
    font-size: 20px;
    font-family: cursive;
}

.pay-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.add-button {
    position: absolute;
    height: 40px;
    width: 210px;
    top: 14px;
    right: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(0, 255, 98);
}

.add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.total {
    position: relative;
    height: 40px;
    width: 120px;
    top: 115px;
    left: 100px;
    text-align: center;
    background-color: aquamarine;
    font-size: 20px;
    font-family: cursive;
    border: 1px solid rgb(230, 226, 226);
}

.total:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}