<div class="holder">
    <div class="top-panel">
        <div class="title">Shop Kart</div>
        <div class="kart">
            <div class="cart-heading">Cart</div>
        </div>
    </div>

    <div class="middle-panel">
        <button class="add-button" (click)="navigateTo('item')">Click to add item</button>
        <button class="remove-button" (click)="navigateTo('kart')">Click to remove item</button>
    </div>

    
</div>