.holder {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.top-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(110, 196, 236);
    /* border: 1px solid black; */
}

.title {
    position: relative;
    height: 80px;
    width: 290px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.kart {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/kart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-heading {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 25px;
    font-size: 30px;
    color: white;
}

.middle-panel {
    position: relative;
    height: 10%;
    width: 100%;
    border: 1px solid rgb(172, 166, 166);
    border-radius: 25px;
}

.add-button {
    position: absolute;
    height: 40px;
    width: 210px;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: aqua;
}

.remove-button {
    position: absolute;
    height: 40px;
    width: 210px;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: brown;
}

.bottom-panel {
    position: relative;
    height: 10%;
    width: 100%;
    border: 1px solid rgb(172, 166, 166);
    border-radius: 25px;
    background-color: rgb(215, 230, 240);
}

.add-more-button {
    position: relative;
    height: 40px;
    width: 210px;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(220, 141, 228);
}

.checkout-button {
    position: relative;
    height: 40px;
    width: 210px;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(172, 206, 50);
}