<div class="holder">
    <div class="top-panel">
        <div class="title">ShopKart</div>
        <div class="kart" (click)="navigateTo('kart')">
            <div class="cart-heading">Cart</div>
        </div>
    </div>

    <div class="payment-panel">
        <h1>Payment</h1>
        <h3>Accepted Cards</h3>
        <div class="icon-container">
            <div class="icons bg-image-1"></div>
            <div class="icons  bg-image-2"></div>
            <div class="icons bg-image-3"></div>
        </div>

        <h4>Name on card</h4>
        <div class="card-name">
            <input type="text" placeholder="Your Name...">
        </div>

        <h4>Card Number</h4>
        <div class="card-number">
            <input type="text" placeholder="Your Card Number...">
        </div>

        <h4>Expiry month</h4>
        <div class="expmonth">
            <input type="text" placeholder="Expiry month...">
        </div>

        <h4>CVV</h4>
        <div class="cvv">
            <input type="text" placeholder="CVV...">
        </div>

        <div class="submit">
            <input type="submit" value="Continue to Checkout...">
        </div>
    </div>
</div>