.holder {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.top-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(110, 196, 236);
    /* border: 1px solid black; */
}

.title {
    position: relative;
    height: 80px;
    width: 290px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.kart {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/kart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-heading {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 25px;
    font-size: 30px;
    color: white;
}

.payment-panel {
    position: absolute;
    height: 700px;
    width: 600px;
    left: 33%;
    top: 25%;
    border-radius: 25px;
    border: 1px solid black;
}

.icon-container {
    position: relative;
    height: 50px;
    width: 200px;
    /* border: 1px solid black; */
}

.icons {
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}

.bg-image-1 {
    background-image: url(/assets/images/visa.svg);
}

.bg-image-2 {
    background-image: url(/assets/images/mastercard.svg);
}

.bg-image-3 {
    background-image: url(/assets/images/cash.svg);
}

input[type="text"] {
    height: 30px;
    width: 500px;
    margin-left: 20px;
}

input[type="submit"] {
    height: 50px;
    width: 600px;
    margin-top: 50px;
    background-color: green;
}
