<div class="holder">
    <div class="top-panel">
        <div class="title">ShopKart</div>
        <div class="kart" (click)="navigateTo('checkout')">
            <div class="cart-heading">Cart</div>
        </div>
    </div>

    <div class="categories">

        <div *ngFor="let item of data" class="item" [style.backgroundImage]="item.imgPath">
            <div class="text">{{item.name}}</div>
            <button class="button" (click)="addToKart(item, 'count')">Add to Cart</button>
            <div><br></div>
            <button class="remove-button" *ngIf="item.count > 0" (click)="removeFromKart(item, 'count')">Remove from Cart</button>
            <div class="item-added" *ngIf="item.count > 0">{{item.count}}</div>

        </div>


        <!-- <div class="footwear">
            <div class="text">Heels</div>
            <button class="button" (click)="addToKart('heels')">Add to Cart</button>
            <div><br></div>
            <button class="remove-button" *ngIf="data.heels > 0" (click)="removeFromKart('heels')">Remove from Cart</button>
            <div class="item-added" *ngIf="data.heels > 0">{{data.heels}} times added</div>
        </div>

        <div class="accesories">
            <div class="text">Bag</div>
            <button class="button" (click)="addToKart('bag')">Add to Cart</button>
            <div><br></div>
            <button class="remove-button" *ngIf="data.bag > 0" (click)="removeFromKart('bag')">Remove from Cart</button>
            <div class="item-added" *ngIf="data.bag > 0">{{data.bag}} times added</div>
        </div>

        <div class="cosmetics">
            <div class="text">Cosmetics</div>
            <button class="button" (click)="addToKart('cosmetics')">Add to Cart</button>
            <div><br></div>
            <button class="remove-button" *ngIf="data.cosmetics > 0" (click)="removeFromKart('cosmetics')">Remove from Cart</button>
            <div class="item-added" *ngIf="data.cosmetics > 0">{{data.cosmetics}} times added</div>
        </div> -->
    </div>
</div>