.holder {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.top-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(110, 196, 236);
    /* border: 1px solid black; */
}

.title {
    position: relative;
    height: 80px;
    width: 290px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.kart {
    position: absolute;
    height: 68px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/kart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-heading {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 25px;
    font-size: 30px;
    color: white;
}

.categories {
    position: relative;
    min-height: 80%;
    width: 100%;
    /* border: 1px solid blue; */
}

.item {
    position: relative;
    height: 200px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url(/assets/images/dress.jpg); */
}

.clothing {
    position: relative;
    height: 200px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.item-added {
    position: absolute;
    height: 35px;
    width: 50px;
    top: 10px;
    left: 540px;
    font-size: 20px;
    font-family: cursive;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(93, 202, 135)
}

.item-added:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footwear {
    position: relative;
    height: 200px;
    width: 300px;
    background-image: url(/assets/images/heels.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.accesories {
    position: relative;
    height: 200px;
    width: 300px;
    background-image: url(/assets/images/bag.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cosmetics {
    position: relative;
    height: 200px;
    width: 300px;
    background-image: url(/assets/images/cosmetics.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    position: relative;
    height: 40px;
    width: 120px;
    left: 260px;
    top: 20px;
    font-size: 25px;
    font-family: cursive;
}

.button {
    position: relative;
    height: 40px;
    width: 160px;
    top: 10px;
    left: 260px;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(110, 196, 236)
}

.remove-button {
    position: relative;
    height: 40px;
    width: 230px;
    top: 10px;
    left: 260px;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(123, 245, 99)
}

.remove-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}