<div class="holder">
    <div class="top-panel">
        <div class="title-T">Shop Kart</div>
        <div class="kart">
            <div class="cart-heading">Cart</div>
        </div>
    </div>

    <div class="bottom-panel">
        <div class="title-B">Banking Portal</div>
        <div class="bill">
            <div class="bill-heading">Total Bill</div>
        </div>
    </div>

</div>