.holder {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.top-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(110, 196, 236);
    /* border: 1px solid black; */
}

.title-T {
    position: relative;
    height: 80px;
    width: 290px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.kart {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/kart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-heading {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 25px;
    font-size: 30px;
    color: white;
}

.bottom-panel {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: rgb(236, 187, 122);
    margin-top: 20px;
    /* border: 1px solid black; */
}

.title-B {
    position: relative;
    height: 80px;
    width: 410px;
    top: 60px;
    left: 30px;
    font-size: 60px;
    font-family: cursive;
    color: white;
    /* text-align: center; */
}

.bill {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 10px;
    background-image: url(/assets/images/bill.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bill-heading {
    position: relative;
    height: 40px;
    width: 130px;
    bottom: 37px;
    font-size: 30px;
    color: white;
}