.button {
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.remove-button {
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

input[type="button"] {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}